*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(208, 96, 223);
}

.cabecalho {
padding: 15px 25px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(87, 16, 153);
}

.cartao {
width: 260px;
height: 200px;
}

.cartao-imagem {
width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aqua;
}

main { 
  flex: 1; 
} 

cabecalho-link {
    color: #fff;
    text-decoration: none;
}

h1 {
    color:#fff
    font-size: 24px;
}

footer {
    background-color: brown;
    padding: 15px 25px;
    color: #7498c2;;
}